html {
    font-size: clamp(16px, 2vw, 3rem);
}

.dessert-shops h1{
    font-size: 0.7rem;
}

.shop-details h2{
    font-size: 0.5rem;
}
.description {
    font-size: 0.5rem; 
    line-height: 1.2; 
    color: #333; 
}
.map-container {
    width: 400px;
    flex-shrink: 0;
    position: sticky;
    top: 100px;
    height: calc(100vh - 120px);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.map {
    height: 300px; 
    width: 100%; 
    overflow: hidden; 
}

/* 響應式設計 */
@media (max-width: 880px) {
    .map-container {
        display: none;
    }
}