body{
    background-color: #eee;
}
.transition{
    transition: 0.8s;
}
.box{
    width: 800px;
    margin: 20px;
}
.menu{
    /* border: 1px solid red; */
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 3px;
}
.menu.active{
    background-color: #fff;
}
.menu ul{
    position: relative;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100px;
    opacity: 0;
}
.menu.active ul{
    opacity: 1;
}
.menu>ul>li>a{
    display: block;
    padding: 10px;
}
.menu>ul>li>a:hover{
    background-color: lightgreen;
}
ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.bar{
    width: 36px;
    height: 6px;
    background-color: #666;
    margin: 6px 0;
    border-radius: 3px;
}
.menu.active .bar1{transform: rotate(-45deg) translate(-9px, 7px);}
.menu.active .bar2{opacity: 0;}
.menu.active .bar3{transform: rotate(45deg) translate(-9px, -8px);}
